<h1>Priority Queue Demo</h1>

<p>
  This demo shows a priority queue in action. You can manipulate the
  queue using the controls below and see the results.
</p>

<button {{action 'startQueue'}}>Start Queue</button>
<button {{action 'pauseQueue'}}>Pause Queue</button>
<button {{action 'clearQueue'}}>Clear Queue</button>

<p>
  The following type of items are available for you to add to the queue:
</p>

<ul>
  {{#each availableItems as |item|}}
    <li>
      <strong>{{item.name}}</strong> has a priority of {{item.priority}} and takes {{item.duration}}ms to complete
      <button {{action 'addItem' item}}>Add {{item.name}}</button>
    </li>
  {{/each}}
</ul>

<div class="task-timeline">
  {{#each _taskStory as |column|}}
    <div class="column">
      {{#each column as |row|}}
        <div class="item" style="background:{{row.color}}"></div>
      {{/each}}
    </div>
  {{/each}}
</div>

<h2>Queue status</h2>

<dl>
  <dt>Is running?</dt>
  <dd>{{priorityQueue.isRunning}}</dd>

  <dt>Queued tasks</dt>
  <dd>
    <ul>
      {{#each priorityQueue.queuedTasks as |task|}}
        <li>Queued: {{time task._addedAt}} (priority {{task.priority}})</li>
      {{else}}
        <li>None</li>
      {{/each}}
    </ul>
  </dd>

  <dt>Active tasks</dt>
  <dd>
    <ul>
      {{#each priorityQueue.runningTasks as |task|}}
        <li>Queued: {{time task._addedAt}} Started: {{time task._startedAt}} (priority {{task.priority}} - waited {{task._durationWaiting}})</li>
      {{else}}
        <li>None</li>
      {{/each}}
    </ul>
  </dd>

  <dt>Complete tasks</dt>
  <dd>
    <ul>
      {{#each priorityQueue.completeTasks as |task|}}
        <li>Queued: {{time task._addedAt}} Started: {{time task._startedAt}} Completed:{{time task._completedAt}} (priority {{task.priority}} - waited {{task._durationWaiting}}, completed in {{task._durationRunning}})</li>
      {{else}}
        <li>None</li>
      {{/each}}
    </ul>
  </dd>
</dl>